/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.cdnfonts.com/css/amazon-ember');

body {
    font-family: 'Amazon Ember', sans-serif;
}

.icon-hover-danger:hover {
    border-color: #dc4c64 !important;
    background-color: white !important;
}

.icon-hover-danger:hover i {
    color: #dc4c64 !important;
}

.icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
}

.icon-hover:hover i {
    color: #3b71ca !important;
}